@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --default: #2D2D2D;
  --light: rgb(186, 186, 186);
  --men: #25476D;
  --women: #00D6C0;
  --both: #a31d5c;
  --first: #FED28B;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: var(--default);
  font-size: 0.9em;
  box-sizing: border-box;
}

body {
  margin: 0px;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: 'neue_montrealbold';
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: var(--default);
}

h1 {
  font-weight: 900;
  font-size: 3em;
  padding: 20px 0 0 0;
}

#intro {
  position: relative;
  padding: 20px;
  height: 100vh;
  text-align: center;
}

#intro .intro-content {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#intro .intro-content p {
  padding: 10px 20px;
  display: inline-block;
  font-size: 1.4em;
}

#intro .intro-content .logo-container {
  height: 100px;
}

#intro .intro-content .logo-container img {
  height: 100%;
}

#intro .intro-content .scroll-arrow {
  animation: updown 1.5s infinite;
}

@keyframes updown {
  0% {transform: translateY(0px)}
  75% {transform: translateY(20px)}
  100% {transform: translateY(0px)}
}


.scroll-graphic {
  position: relative;
  top: 0;
  left: 0;
}

.scroll-graphic .step {
  position: relative;
  height: 100vh;
  margin-bottom: 100vh;
  text-align: center;
}

.scroll-graphic .step p {
  padding: 20px;
  max-width: 500px;
  display: inline-block;
  font-size: 1.4em;
  mix-blend-mode: luminosity;
  color: var(--light);
}

#graph-2 .scroll-graphic .step {
  width: 30vw;
  margin-left: 7vw;
}

#graph-3 .scroll-graphic .step {
  width: 16vw;
  margin-left: 82vw;
}




.scroll-graphic .first {
  height: 50vh;

}

.scroll-graphic #chart-1,  
.scroll-graphic #chart-2,
.scroll-graphic #chart-3 {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

.scroll-graphic #select-year-btn {
  position: fixed;
  top: 20px;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 100;
}


.scroll-graphic #chart-1 .chart-men {
  z-index: -1;
}

.scroll-graphic #chart-1 svg {
  position: absolute;
  bottom: 0;
}

.scroll-graphic #chart-1 svg .label {
  mix-blend-mode: luminosity;
  fill: var(--light);
}


.scroll-graphic #chart-1 svg .line {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

.scroll-graphic #chart-1 svg .area-women {
  fill: var(--women);
  stroke-width: 0;
  z-index: 2;
}

.scroll-graphic #chart-1 svg .area-men {
  fill: var(--men);
  stroke-width: 0;

}

.scroll-graphic #chart-1 svg .xAxis,
.scroll-graphic #chart-1 svg .yAxis {
  mix-blend-mode: luminosity;
  color: var(--light);
  font-size: 1em;
}

.scroll-graphic #chart-1 svg .xAxis .tick line {
  height: 4px;
}

.scroll-graphic #chart-1 svg .xAxis .tick text {
  font-size: 1em;
}

.scroll-graphic #chart-1 svg .xAxis .tick:first-of-type text {
  transform: translateX(14px);
}

.scroll-graphic #chart-1 svg .xAxis .tick:last-of-type text {
  transform: translateX(-14px);
}

.scroll-graphic #chart-1 svg .yAxis .domain,
.scroll-graphic #chart-1 svg .yAxis .tick:first-of-type text,
.scroll-graphic #chart-1 svg .yAxis .tick:first-of-type line {
  display: none;
}

.scroll-graphic #chart-3-leg {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 1.5vw;
  font-size: 1em;
  color: var(--light);
}

.scroll-graphic #chart-3-leg #tick-20 {
  position: fixed;
  top: 10.5vh;
  transform: translateY(-50%);
}

.scroll-graphic #chart-3-leg #tick-15 {
  position: fixed;
  top: 17vh;
  transform: translateY(-50%);
}

.scroll-graphic #chart-3-leg #tick-10 {
  position: fixed;
  top: 24vh;
  transform: translateY(-50%);
}

.scroll-graphic #chart-3-leg #tick-5 {
  position: fixed;
  top: 57.5vh;
  transform: translateY(-50%);
}

.scroll-graphic #chart-3-leg #tick-1 {
  position: fixed;
  top: 84vh;
  transform: translateY(-50%);
}

.scroll-graphic #chart-3-leg #tick-05 {
  position: fixed;
  top: 90vh;
  transform: translateY(-50%);
}

.scroll-graphic #chart-3-leg p::after {
  content: "";
  width: 77vw;
  top: 10px;
  left: 40px;
  height: 1px;
  border:none;
  border-top: 1px dashed var(--light);
  mix-blend-mode: luminosity;
  position: fixed;
  opacity: 1;
}

.scroll-graphic #chart-3 svg .xAxis {
  color: var(--light);
  font-size: 1em;
}

.scroll-graphic #chart-3 svg .xAxis .domain,
.scroll-graphic #chart-3 svg .xAxis .tick line {
  display: none;

}


#graph-2 .scroll-graphic .middle, 
#graph-3 .scroll-graphic .middle {
  width: 100vw;
  margin-left: 0vw;
}

.film-ten-budget-label {
  text-anchor: middle;
  fill: #6382A5;
  stroke: none;
  font-weight: 900;
}

#long {
  height: 300vh;
}

.leg {
  font-weight: 700;
}

.wmn {
  color: var(--women);
}

.men {
  color: var(--men);
}

.both {
  color: var(--both);
}

.outro {
  position: relative;
  top: 0;
  left: 0;
}

.outro .step {
  position: relative;
  height: 100vh;
  text-align: center;
}

.outro .step p {
  padding: 20px;
  max-width: 500px;
  display: inline-block;
  mix-blend-mode: luminosity;
  color: var(--light);
  font-size: 1.8em;
}


footer {
  min-height: 85vh;
  background-color: rgb(247, 247, 247);
  z-index: 2;
  padding: 40px;
}

footer .footer-top {
  font-size: 1.6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
}

footer .footer-top p {
  max-width: 800px;
}

footer .footer-top #back-to-top {
  font-size: 1.4em;
  transition: all 200ms ease-out;
}

footer .footer-top #back-to-top:hover {
  transform: translateY(-10px);
}

footer .footer-top #back-to-top::after,
footer .footer-top #back-to-top::before {
  display: none;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  margin: 0;
  padding: 5px 0;
  list-style: none;
}

footer ul li a::before, 
footer ul li a::after {
  display: none;
}

footer ul li a:hover {
  transform: translateX(20px);
}

footer p {
  max-width: 1000px;
}

footer ul {
  max-width: 450px;
}

footer h4 {
  letter-spacing: 0.5px;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 1.2em;
}

footer a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  transition: all 400ms ease-out;
}

footer a::after,
footer a::before {
  content: "";
  display: block;
    position: absolute;
    width: 50%;
    bottom: 2px;
    height: 1px;
    background-color: var(--default);
    transition: width 400ms ease-in-out;
}

footer a::after {
  right: 0;
}


footer a:hover::after,
footer a:hover::before {
    width: 0%;
}

footer .merci {
  margin-top: 40px;
  font-weight: 500;
}



/* gérer débordement petits écrans graph 3 */
@media screen and (max-width: 800px) {

  #graph-3 .scroll-graphic .step {
    width: 16vw;
    margin-left: 78vw;
  }
  
  #graph-3 .scroll-graphic .step p {
    padding: 0px;
  }

  .scroll-graphic #chart-3-leg p::after {
    width: 68vw;
  }
}